<!DOCTYPE html>
<html>
  <head><title>{{title}}</title><link rel="stylesheet" href="/css/styles.css"/></head>
  <body><div class="main-content">{{>header}}<section class="card"><p>Page not found.</p></section></div></body>
</html>
