<header>
  <h1>{{title}}</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/submit">Employee Submission</a>
    <a href="/admin">Admin Dashboard</a>
    <a href="/template/download">Download Template</a>
  </nav>
</header>
